//reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: $font !important;
  position: inherit !important; 
  width: 100%; 
  top: inherit !important;
  color: $default-text-color;
  font-size: 14px;
}

hr {
  width: 100%;
  height: 3px;
  border: 0px;
  clear: both;
}

a {
  &:hover, 
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
    outline: none;
  }
}

.title{
  display: inline-block;
  h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    span{
      color: $default-color-light;
    }
  }
  .title-lines{
    margin:5px 0 0 0;
    .title-first{
      float:left;
      border: 2px solid $default-color-dark;
      width: 33%;
    }

    .title-second{
      float:left;
      border: 2px solid $default-color-light;
      width: 67%;
    }
  }
}

.btn{
  color: white;
  background-color: $default-color-dark;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0 10px 0;
  border: 1px solid $default-color-dark;

  &:hover{
    color: $default-color-dark;
    background-color: white;
  }
}

#map{
  width: 100%;
  height: 300px;
}


/* about */

.about{

}

/* branches */

.main-branches{
  #map{
    height:600px;
  }
}

.clear{
  clear: both;
  height: 30px;
}

/* contact */

.contact {
  
  h1{
    font-size: 36px;
    text-transform: uppercase;
    margin: 80px 0 0 0;
  }

  form{
    text-align: left;
    

    @media (min-width: $screen-md-min){
      float: left;
      margin: 0 0 30px 0;
    }
  }

  fieldset{
    ol{
      li{

        .error-form{
          font-size: 12px;
          margin-top: 5px;
          color: red;
        }

        width: 100%;

        @media (min-width: $screen-md-min){
          display: inline-block;
          margin: 0 13px;
          width: inherit;
        }

        label{
          display: block;
          font-family: ralewayregular, arial;
          font-size: 16px;
          margin: 30px 0 10px 0;
          text-align: left;
        }

        input[type="text"], input[type="email"]{
          display: block;
          font-size: 16px;
          line-height: 36px;
          width: 80%;
          border: $default-color-dark solid 1px;
          padding: 0 10px;
          border-radius: 5px;

          @media (min-width: $screen-md-min){
            width: 300px;
          }
        }

        textarea{
          width: 80%;
          border: $default-color-dark solid 1px;
          height: 140px;
          font-size: 16px;
          padding: 10px;
          border-radius: 5px;

          @media (min-width: $screen-md-min){
            width: 411px;
          }
        }

      }
    }
  }

  input[type="submit"]{
    background: $default-color-dark;
    border: 0px;
    color: #FFF;
    font-family: ralewayregular, arial;
    font-size: 16px;
    padding: 10px 20px;
    float: right;
    margin: 20px 18px 0 0;
    cursor: pointer;

  }

  .contact-info{
    clear: both;

    @media (min-width: $screen-md-min){
      clear: inherit;
    }
    h2{

    }
    p{
      margin: 10px 0 0 0;
    }
    ul{
      li{
        margin:10px 0 0 0;
      }
    }
  }


}























