$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$default-color-dark:     #4a4a49;
$default-color-light:    #0ad96b;
$default-color-middle:   #ebebeb;
$default-text-color:     #4a4a49;
$default-grey:           #f2f1f6;

$font: 'Replica Std', sans-serif;
$font-light: 300;

