<div class="about">
  <hr>
  <section class="company container">

    <div class="col-md-7">
      <div class="title">
        <h2><span>About</span> the company</h2>
        <div class="title-lines">
          <span class="title-first"></span>
          <span class="title-second"></span>
        </div>
      </div>
      <p ng-bind-html="about.firm.description"></p>
    </div>

    <div class="col-md-5">
      <img src="{{about.api_base}}{{about.firm.avatar.medium}}" />
    </div>

  </section>
</div>

<ng-include src="'app/main/_branches.html'"></ng-include>