.lines{
  
  span{

    float: left;
    width: 50%;
    height: 5px;

    &.first-color{
      background: $default-color-dark;
    }
    &.second-color{
      background: $default-color-light;
    }
  }
  
}

.header-info{
  
  .logo{
    display:inline-block;
    padding: 20px 0 0 0px;
    width: 100%;
    text-align: center;

    @media (min-width: $screen-md-min){
      width: inherit;
      text-align: left;
    }
  }

  

  
  
}

.info-content{

    ul{

      text-align: center;

      @media (min-width: $screen-md-min){
        text-align: left;
      }

      li{
        margin: 0 0 0;
        display: inline-block;
        margin:20px 0px 0 0px;
        text-align: left;

        @media (min-width: $screen-md-min){
          width: inherit;
          margin:20px 0px 0 12px;
        }

        i{
          display: inline-block;
          font-size: 28px;
          color: $default-color-light;
        }

        p{

          display: inline-block;
          font-size: 13px;
          margin-left: 3px;

          a{
            color: $default-text-color;
            text-transform: underline;
            text-decoration: underline;
          }

        }

      }
    }
  } 

.social{
    text-align: center;

    @media (min-width: $screen-md-min){
      text-align: left;
    }

    ul{
      margin: 20px 0;
      width: inherit;
      display: inline-block;

      @media (min-width: $screen-md-min){
        display: block;
        width: 100%;
      }

      li{
        display: inline-block;

        a{
          background: $default-grey;
          display: block;
          width: 35px;
          height: 35px;
          text-align: center;
          color: $default-text-color;
          margin: 0 2px;

          @include border-radius(25px);

          &:hover{
            background: $default-color-light;
            color: white;
          }

          i{
            
            font-size: 18px;
            margin: 10px 0px;
          }
        }
      }
    }
  }

.header-nav{
  background: $default-color-dark;
  min-height: 58px;

  nav{
    ul{

      display: none;

      @media (min-width: $screen-md-min){
        display: block;
      }

      margin:13px 0 0 0px;

      li{
        display: inline-block;

        a{
          color: white;
          margin: 10px 10px 0 0;
          display: block;
          font-size: 16px;

          &:hover{
            text-transform: underline;
          }
        }
      }
    }
  }

  form{

    margin: 19px 0;

    label{
      color: white;
      display: inline-block;
      font-size: 15px;

    }
    select{
      display: inline-block;

      background: #7e7e7e;
      color: white;
      margin: 0 0 0 5px;
      border: 0px;
    }
  }
}

.home{
  
}

.banner{
  background-image: url('/assets/images/banner-back.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  position: relative;
  width: 100%;
  overflow: hidden;

  @media (min-width: $screen-md-min){
    height: 430px;
  }

  .next, .prev{
    text-align:center;
    position: absolute;
    z-index: 100;
    outline: none;
    display: none;

    @media (min-width: $screen-md-min){
      display: block;
    }

    span{
      background-color: rgba(0, 0, 0, 0.2);
      width: 50px;
      height: 180px;
      display: inline-block;
      font-size: 40px;
      margin-top: 135px;
      padding: 65px 0;
      font-weight: 300;
      cursor:pointer;

      &:hover{
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .next{
    right: 30px;
  }
  .prev{
    left: 30px;
  }

  p{

    float: left;
    font-size: 30px;
    margin: 20px 0 0 0;
    font-weight: bold;

    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    -webkit-text-shadow: 0 2px 4px rgba(0,0,0,.5);

    @media (min-width: $screen-md-min){
      font-size: 40px;
      margin: 70px 0 0 0;
    }

    strong{
      color: $default-color-light;
      font-weight: bold;
    }

    span.description{
      font-size: 12px;
      line-height: 18px;
      display: block;
      margin: 20px 0 0 0;
      text-shadow: none;

      @media (min-width: $screen-md-min){
        font-size: 16px;
        line-height: 21px;
      }
    }

    
  }

  img{
    float: left;
    margin: 30px 0 0 0;
    display: none !important;

    @media (min-width: $screen-md-min){
      display: block !important;
    }
  }

}

section{
  clear:both;
}



.company{
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;

  p{
    margin:30px 0 30px 0;
  }
}

.products{
  margin-top: 70px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;

  .next, .prev{
    text-align:center;
    outline: none;

    display: none;

    @media (min-width: $screen-md-min){
      display: block;
    }

    span{
      background-color: rgba(0, 0, 0, 0.2);
      width: 50px;
      height: 90px;
      display: inline-block;
      font-size: 40px;
      margin-top: 105px;
      padding: 25px 0;
      font-weight: 300;
      cursor: pointer;

      &:hover{
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .products-content{

    margin: 30px 0 0 0;
  }

  ul{
    li{

      .product-unic{
        text-align:center;
        background-color: $default-grey;
        padding:10px;
        border-radius: 7px;

        .image{
          height: 150px;
          width: 100%;
          border-radius: 7px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        p{
          text-align: left;
          margin: 10px;
        }
      }
    }
  }
}

.products_in{
  margin-bottom: 30px;
}

.branches{
  background-color: $default-grey;
  text-align: center;
  margin-top: 40px;

  .title{
    margin-top: 30px;

    .title-first{
      width: 50%;
    }
    .title-second{
      width: 50%;
    }
  }

  p{
    margin-top: 10px;
  }

  form{
    margin-top: 10px;
  }

  .branches-content{

    select{
      width: 90%;
    }

    @media (min-width: $screen-md-min){
      select{
        width: inherit;
      }
    }

    padding: 10px 0;

    .branches-info{
      .street, .marker, .email{
        display: inline-block;
        margin: 20px 10px;
      }

      i{
        color: $default-color-light;
      }
    }
  }
}

footer{
  background-color: $default-color-dark;

  @media (min-width: $screen-md-min){
    height: 120px;
  }

  .footer-nav{
    margin-top: 30px;
    ul{
      li{

        line-height:18px;
        font-size:16px;

        a{
          color: white;
          font-weight: 300;
        }  
      }
    }
  }

  form{
    margin-top:30px;
    font-weight: 300;
    color: $default-color-dark;

    label{
      
    }

    .inside-form{
      input[type="text"], input[type="email"]{
        display: inline-block;
        border-radius: 5px;
        height: 30px;
        width: 170px;
        margin:10px 0 0px 0;
        border:0px;
        padding: 0 5px;
      }

      button{
        background-color: $default-color-light;
        border: 0px;
        color: white;
        display: inline-block;
        border-radius: 5px;
        padding: 7px;
      }
    }

    .error-form{
      font-size:11px;
      color: white;

      span{
        margin: 5px 0 0 0;
        display: inline-block;
      }
    }
  }
}

.header_place{

  display: none;

  @media (min-width: $screen-md-min){
    display: block;
  }
}

.header_mobile{
  @media (min-width: $screen-md-min){
    display: none;
  }

  height: 77px;

  .logo_mobile{
    float: left;
  }

  .logo{
    img{
      width: 158px;
      margin: 15px;
    }
  }

  .menu_mobile{
    float: right;
  }
}

#nav-icon1 {
  width: 42px;
  height: 30px;
  position: relative;
  margin: 20px 0 0 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline:none;

  &.nav-in{
    margin: 20px 0 0 30px;
  }
}

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $default-color-dark;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;

  }

  #nav-icon1 span:nth-child(2) {
    top: 10px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 20px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color:white;
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    background-color:white;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color:white;
  }

.page__slide{
  background-color: $default-color-dark; 
}

.pageslide_{
  color: white;

  button{
    float: right;
    margin: 22px !important;
  }
  
  ul.nav-in{

    float:left;

    margin: 0px 30px 0 30px;

    li{

      margin-top: 10px;
      line-height: 22px;

      a{
        color: white;
        font-size: 30px;
      }
    }
  }
}