<div class="contact">
  <hr>
  <div class="container">
    <div class="title">
      <h2><span>Cont</span>act</h2>
      <div class="title-lines">
        <span class="title-first"></span>
        <span class="title-second"></span>
      </div>
    </div>

    <hr>

    <form ng-submit="contact.submit($event, form);" class="col-md-6" id="contactForm" name="form" novalidate>

      <fieldset>
        <ol>
          <li>
            <p>
              <label for="nome">Name:</label>
              <input id="name" name="name" type="text" ng-model="contact.formData.name" required="">
            </p>
            <div class="error-form" ng-show="form.$submitted || form.name.$touched">
              <span ng-show="form.name.$error.required">Name is required</span>
            </div>
          </li>
          <li>
            <p>
              <label for="email">E-mail:</label>
              <input type="email" name="email" id="email" ng-model="contact.formData.email" required="" pattern="^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$">
            </p>
            <div class="error-form" ng-show="form.$submitted || form.email.$touched">
              <span ng-show="form.email.$error.required">Email is required</span>
              <span ng-show="form.email.$error.pattern">Email invalid</span>
            </div>
          </li>
        </ol>
        <ol>
          <li>
            <p>
              <label for="phone">Phone:</label>
              <input id="phone" name="phone" type="text"  ng-model="contact.formData.phone" required="">
            </p>
            <div class="error-form" ng-show="form.$submitted || form.phone.$touched">
              <span ng-show="form.phone.$error.required">Phone is required</span>
            </div>
          </li>          
        </ol>
        <ol>
          <li class="textarea">
            <p>
              <label for="mensage">Message:</label>
              <textarea id="message" name="message" required="" ng-model="contact.formData.message"></textarea>
            </p>
            <div class="error-form" ng-show="form.$submitted || form.message.$touched">
              <span ng-show="form.message.$error.required">Message is required</span>
            </div>
          </li>
        </ol>
      </fieldset>
      
      <div ng-if="contact.warining != ''" class="error-form">
        <span> {{contact.warning}} </span>
      </div>
      
      <div id="send">
        <input class="center" name="commit" type="submit" value="Send">
      </div>

    </form> 

    <div class="contact-info col-md-6 ">
      <h2>Be in touch</h2>
      <p>Get in touch with our company, and check our products.</p>
      <ul>
        <li class="phone">
          <i class="glyphicon glyphicon-earphone"></i>
          (011) 615-8657
        </li>
        <li class="email">
          <i class="glyphicon glyphicon-envelope"></i>
          <a href="mailTo:info@bitgroup.com.br" title="E-mail BDLK">
            info@bitgroup.com.br
          </a>        
        </li>
      </ul>
    </div>

  </div>

</div>
<hr>