<div class="info-content">
  <ul>
    <li>
      <i class="glyphicon glyphicon-earphone"></i>
      <p>
        (010)-0073613<br />
        <a href="mailTo:info@bitgroup.com.br">info@bitgroup.com.br</a>
      </p>
    </li>
    <li>
      <i class="glyphicon glyphicon-map-marker"></i>
      <p>
        370 Main Reef Road<br />
        Denver 2094
      </p>
    </li>
    <li>
      <i class="glyphicon glyphicon-dashboard"></i>
      <p>
        06:00 - 16:30 / Monday to Friday<br>
        07:00 - 11:00 / Saturday<br>
      </p>
    </li>
  </ul>
</div>