<footer>
  <div class="container">
    <div class="footer-nav col-md-6">
      <ul class="col-md-6">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about-us">About us</a>
        </li>
        <li>
          <a href="/branches">Branch locator</a>
        </li>
      </ul>

      <ul class="col-md-6">
        <li>
          <a href="/products">Our products</a>
        </li>
        <li>
          <a href="/carrers">Carrers</a>
        </li>
        <li>
          <a href="/contact">Contact us</a>
        </li>
      </ul>
    </div>

    <form ng-submit="submit($event, form);" class="col-md-6" id="newsForm" name="form" novalidate ng-newsletter>
      <label>Newsletter:</label>
      <div class="inside-form">
        <input type="text" value="" name="name" ng-model="formData.name" placeholder="Name" />
        <input placeholder="E-mail" type="email" name="email" id="email" ng-model="formData.email" required="" pattern="^[_A-Za-z0-9]+(\.[_A-Za-z0-9]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,4})$">
        <button>ok</button>

        <div class="error-form" ng-show="form.$submitted || form.email.$touched">
          <span ng-show="form.email.$error.required">Email is required</span>
          <span ng-show="form.email.$error.pattern">Email invalid</span>
        </div>

        <div ng-if="warining != ''" class="error-form">
          <span> {{warning}} </span>
        </div>

      </div>
    </form>
  </div>
</footer>