<div class="header-info container">
  
  <div class="col-md-2">
    <ng-include src="'app/main/_logo.html'"></ng-include>
  </div>
  <div class="col-md-8">
    <ng-include src="'app/main/_address.html'"></ng-include>
  </div>

  <div class="col-md-2">
    <ng-include src="'app/main/_social.html'"></ng-include>
  </div>

</div>