<header class="col-md-12">
  
  <div class="lines row">
    <span class="first-color"></span>
    <span class="second-color"></span>
  </div>

  <div class="header_place">
    <ng-include src="'app/main/_header_content.html'"></ng-include>
  </div>

  <div class="header_mobile">
    <div class="logo_mobile">
      <ng-include src="'app/main/_logo.html'"></ng-include>
    </div>
    <div class="menu_mobile" ng-header>
      <button id="nav-icon1" ng-click="toggle();">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <pageslide ps-open="checked" class="page__slide">

        <div class="pageslide_">
          <button class="open" id="nav-icon1" ng-click="close();">
            <span></span>
            <span></span>
            <span></span>
          </button>

          <div ng-click="close();">
            <ng-include src="'app/main/_nav.html'"></ng-include>
            <div class="clear"></div>
            <ng-include src="'app/main/_address.html'"></ng-include>

            <ng-include src="'app/main/_social.html'"></ng-include>
          </div>
        </div>
      </pageslide>

    </div>
  </div>

  <div class="header-nav row">
    <div class="container">
      <nav class="col-md-8">
        <ng-include src="'app/main/_nav.html'"></ng-include>
      </nav>

      <form class="col-md-4">
        <label>Select other company:</label>
        <select>
          <option>BitDrywall</option>
        </select>
      </form>
    </div>
  </div>

</header>