<ul class="nav-in">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/about-us">About us</a>
  </li>
  <li>
    <a href="/branches">Branch locator</a>
  </li>
  <li>
    <a href="/products">Our products</a>
  </li>
  <li>
    <a href="/carrers">Carrers</a>
  </li>
  <li>
    <a href="/contact">Contact us</a>
  </li>
</ul>