<div class="social">
  <ul>
    <li>
      <a href="https://www.facebook.com/bitgroupsouthafrica/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://za.linkedin.com/in/bit-group-7b704b12b" target="_blank">
        <i class="fa fa-linkedin fa-2"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCgeb1fgluAa-28d_x-5kZcQ" target="_blank">
        <i class="fa fa-youtube fa-2"></i>
      </a>
    </li>
  </ul>
</div>