<section bit-maps class="branches main-branches">

  <div class="container">
    <div class="title">
      <h2><span>Bran</span>ches</h2>
      <div class="title-lines">
        <span class="title-first"></span>
        <span class="title-second"></span>
      </div>
    </div>

    <div class="branches-content">
      <p>
        Check our branches
      </p>

      <form >
        <select class="map_change" 
                ng-options="(option.title + option.street) for option in map_info track by option.id"
                ng-model="branche_selected" >
        </select>
      </form>

      <div class="branches-info">
        <div class="street"><i class="glyphicon glyphicon-map-marker"></i> {{branche_selected.title}} {{branche_selected.street}} {{branche_selected.district}} {{branche_selected.number}}</div>
        <div class="marker"><i class="glyphicon glyphicon-earphone"></i> {{branche_selected.phone}}</div>
        <div class="email"><i class="glyphicon glyphicon-envelope"></i> {{branche_selected.email}}</div>
      </div>
    </div>
    
  </div>

  <div id="map" class="branches-map"></div>

</section>