/**
 * Fonts
 */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700";
@import "https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic";

@import "styles/variables.scss";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 * 
 */

@import "styles/mixings.scss";
@import "styles/globals.scss";


@import "home/styles/home.scss";