<section class="banner">
  <div class="">
    <div class="prev" ng-click="home.prev();">
      <span><i class="glyphicon glyphicon-menu-left"></i></span>
    </div> 
    <ul class="col-md-12 banner-body">
      <li ng-repeat="banner in home.banners">
        <div class="container">
          <p class="col-md-6">
            <span ng-bind-html="banner.title"></span>
            <span class="description" ng-bind-html="banner.description"></span>
            <a class="btn" href="/about-us">more about.</a>
          </p>
          <img class="col-md-6" src="{{home.api_base}}{{banner.avatar.default}}" />
        </div>
      </li>
    </ul>
    <div class="next" ng-click="home.next();">
      <span><i class="glyphicon glyphicon-menu-right"></i></span>
    </div> 
  </div>
</section>

<section class="company container">

  <div class="col-md-7">
    <div class="title">
      <h2><span>About</span> the company</h2>
      <div class="title-lines">
        <span class="title-first"></span>
        <span class="title-second"></span>
      </div>
    </div>
    <p>
      {{home.contents[0].description}}
    </p>

    <a class="btn" href="/about-us">read more</a>
  </div>

  <div class="col-md-5">
    <img src="{{home.api_base}}{{home.contents[0].avatar.medium}}" />
  </div>

</section>

<section class="products container">
  <div class="title">
    <h2><span>Our</span> Products</h2>
    <div class="title-lines">
      <span class="title-first"></span>
      <span class="title-second"></span>
    </div>
  </div>

  <div class="products-content">
    <div class="prev col-md-1" ng-click="home.product_prev();">
      <span><i class="glyphicon glyphicon-menu-left"></i></span>
    </div>

    <ul class="col-md-10 product-slick">
      <li ng-repeat="product in home.categories" class="col-md-4">
        <div class="product-unic">
          <div class="image" style="background-image:url('{{home.api_base}}{{product.avatar.medium}}');"></div>
          <p>
            {{product.description | limitTo : 85}}{{product.description.length > 85 ? "..." : ""}}
          </p>
          <a class="btn" href="/products-inside/{{product.id}}">read more</a>
        </div>
      </li>
    </ul>

    <div class="next col-md-1"  ng-click="home.product_next();">
      <span><i class="glyphicon glyphicon-menu-right"></i></span>
    </div>
  </div>

</section>

<ng-include src="'app/main/_branches.html'"></ng-include>