<hr>
<section class="products container">
  <div class="title">
    <h2><span>Our</span> Products</h2>
    <div class="title-lines">
      <span class="title-first"></span>
      <span class="title-second"></span>
    </div>
  </div>

  <div class="products-content">
    
    <ul class="col-md-12 product-slick">
      
      <li class="col-md-4 products_in"  ng-repeat="product in products.categories">
        <div class="product-unic">
          <div class="image" style="background-image:url('{{products.api_base}}{{product.avatar.medium}}');"></div>
          <p>
            {{product.description | limitTo : 75}}{{product.description.length > 75 ? "..." : ""}}
          </p>
          <a class="btn" href="/products-inside/{{product.id}}">read more</a>
        </div>
      </li>
      
    </ul>
  </div>

</section>

<hr>