<div class="product-inside">
  <hr>
  <section class="company container">

    <div class="col-md-7">
      <div class="title">
        <h2><span>{{products_inside.category.title}}</span></h2>
        <div class="title-lines">
          <span class="title-first"></span>
        </div>
      </div>
      <p ng-bind-html="products_inside.category.description"></p>
    </div>

    <div class="col-md-5">
      <img src="{{products_inside.api_base}}{{products_inside.category.avatar.medium}}" width="100%" />
    </div>

  </section>

<hr>
</div>